* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

header {
    background: #f3f3f3;
    padding: 16px;
}

nav a {
    margin-right: 12px;
}

.box {
    border-radius: 5px;
    background-color: lightblue;

    padding: 20px;
    border: 2px dashed red;

}