
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;

    /** Etape 2 : on active le mode grille **/
    /**
    - a. il faut définir le conteneur de la grille. Ici c'est le body, mais ça pourrait être un autre élément (<div>, <main>, etc.)  
    - b. on utilise display: grid; pour activer le mode grille    
    **/
    display: grid;

    /** Etape 2 
    - c : on définit la structure de la grille **/
    /* 2 colonnes : la 1ère fait 1 fraction, la 2ème fait 3 fraction de large */
    grid-template-columns: 1fr 3fr;

}
