body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #4a148c;
  border-bottom: 2px dotted #4a148c;
  padding-bottom: 10px;
}

h2 {
  color: #4a148c;
  border-bottom: 1px dotted #4a148c;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

a {
  color: #1565c0;
  text-decoration: none;
  margin: 0 10px;
}

a:hover {
  color: #ff6f00;
}

main {
  display: grid;
  grid-template-areas:
    "h h h"
    "achat info img"
    "f f f";
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
}

header {
  grid-area: h;
  background-color: #f3e5f5;
  border-bottom: 3px solid #4a148c;
  padding: 0.5rem;
  text-align: center;
}

header img {
  height: 40px;
}

/* Images */
.product-images {
  grid-area: img;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "i i"
    "c q";
  gap: 10px;
  height: fit-content;
  padding: 0.5rem;
}

.product-images>div:first-child {
  grid-area: i;
}

.product-images>div:nth-child(2) {
  grid-area: c;
}

.product-images>div:last-child {
  grid-area: q;
}

.product-images img {
  width: 100%;
}

/* Infos */
.product-main {
  grid-area: info;
}

#p-rating {
  font-size: 1.2rem;
  color: #ff6f00;
}

#p-rating img {
  height: 23px;
}

#p-rating span {
  font-size: 0.85rem;
  color: #666666;
}

.product-main ol {
  padding-left: 50px;
  list-style-type: upper-roman;
}

/* Détails produit */
.product-details table {
  width: 100%;
  border-collapse: collapse;
}

.product-details th,
.product-details td {
  border: 1px solid #d0d0d0;
  padding: 8px;
  text-align: left;
}

/* Évaluation */

.product-evaluation fieldset {
  border: 1px solid #d0d0d0;
  padding: 20px;
}

.product-evaluation div {
  margin-bottom: 15px;
}

.product-evaluation input,
.product-evaluation textarea {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
}

.product-evaluation textarea {
  width: 100%;
}

.product-evaluation button {
  background-color: #ffcc80;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Achat */
.zone-achat {
  grid-area: achat;
  margin-left: 0.5rem;
}

.zone-achat button {
  background-color: #ff6f00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  margin: 10px auto;
}

/* Footer */
footer {
  grid-area: f;
  background-color: #4a148c;
  border-top: 3px solid #ffcc80;
  text-align: center;
  padding: 10px;
}

/* Divers */
.price {
  font-size: 1.5rem;
  color: #c2185b;
  font-weight: bold;
}

.price sup {
  font-size: 1rem;
  color: #f06292;
}

.text-justify {
  text-align: justify;
}

.bold {
  font-weight: bold;
}


.error-message {
  color: red;
  font-size: 0.9rem;
}

.user-review {
  border: 1px solid #d0d0d0;
  padding: 10px;
  margin-bottom: 10px;
}

.other-book {
  border: 1px solid #d0d0d0;
  padding: 10px;
  margin-bottom: 10px;
}