
#border_widths .border_1px {
    border: 1px solid black;
}

#border_widths .border_3px {
    border: 3px solid black;
}

#border_widths .border_5px {
    border: 5px solid black;
}

#border_widths .border_10px {
    border: 10px solid black;
}


#border_styles .border_solid {
    border: 5px solid red;
}

#border_styles .border_dashed {
    border: 5px dashed green;
}

#border_styles .border_dotted {
    border: 5px dotted blue;
}

#border_styles .border_double {
    border: 5px double purple;
}

#border_styles .border_groove {
    border: 5px groove orange;
}

#border_styles .border_ridge {
    border: 5px ridge brown;
}

#border_styles .border_inset {
    border: 5px inset pink;
}

#border_styles .border_outset {
    border: 5px outset cyan;
}